{:paths ["src" "resources"]
 :tasks {run-day {:doc "Run a specific day"
                  :task (let [day (parse-long (first *command-line-args*))]
                          (println "Running day" day)
                          (exec (symbol (str "aoc-2022.day" day "/run"))))}}}
